body {
  background-color: #000000;
  font-family: raleway_f, assassin-st, system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 1.6rem;
  line-height: 1.55;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
body::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.container,
.wrapper {
  will-change: transform;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

html {
  font-size: 62.5%;
  -webkit-text-size-adjust: 16px;
  -ms-text-size-adjust: 16px;
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (max-width: 37.5em) {
  html {
    font-size: 45%;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

input[type=number]:hover,
input[type=number]:focus {
  -moz-appearance: number-input;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

ol,
ul,
menu {
  list-style: none;
}

@font-face {
  font-family: raleway_f;
  src: url(../fonts/raleway-black.woff2);
  font-weight: 900;
}
@font-face {
  font-family: raleway_f;
  src: url(../fonts/raleway-regular.woff2);
}
@font-face {
  font-family: assassin-st;
  src: url(../fonts/assassin.woff2);
}
.main__article {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: #e7e7d3;
  background-image: url(../img/dungeon.jpg);
  background-size: cover;
  background-position: center;
}
.main__article .main__article--content {
  margin: 0 2.5rem;
  text-align: center;
  transition: transform 0.75s cubic-bezier(0.075, 0.5, 0, 1);
}
.main__article .main__article--content .main__article__title {
  font-family: assassin-st, sans-serif;
  font-size: calc((1vw + 1vh) * 1.8);
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 0 0 15px #9e7d35;
  letter-spacing: calc((1vw + 1vh) / 4.5);
  transform: translate3d(0, calc(var(--scrollTop) / 20), 0);
  will-change: transform;
  -webkit-animation: text-flicker-in-glow 4s linear both infinite;
  animation: text-flicker-in-glow 4s linear both infinite;
}
.main__article .main__article--content .main__article__subtitle {
  max-width: 70rem;
  font-size: calc((1vw + 1vh) * 1);
  transform: translate3d(0, calc(var(--scrollTop) / 20), 0);
  will-change: transform;
}

@-webkit-keyframes text-flicker-in-glow {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
    text-shadow: none;
  }
  10.1% {
    opacity: 1;
    text-shadow: none;
  }
  10.2% {
    opacity: 0;
    text-shadow: none;
  }
  20% {
    opacity: 0;
    text-shadow: none;
  }
  20.1% {
    opacity: 1;
    text-shadow: 0 0 30px #9e7d35;
  }
  20.6% {
    opacity: 0;
    text-shadow: none;
  }
  30% {
    opacity: 0;
    text-shadow: none;
  }
  30.1% {
    opacity: 1;
    text-shadow: 0 0 30px #9e7d35, 0 0 60px #9e7d35;
  }
  30.5% {
    opacity: 1;
    text-shadow: 0 0 30px #9e7d35, 0 0 60px #9e7d35;
  }
  30.6% {
    opacity: 0;
    text-shadow: none;
  }
  45% {
    opacity: 0;
    text-shadow: none;
  }
  45.1% {
    opacity: 1;
    text-shadow: 0 0 30px #9e7d35, 0 0 60px #9e7d35;
  }
  50% {
    opacity: 1;
    text-shadow: 0 0 30px #9e7d35, 0 0 60px #9e7d35;
  }
  55% {
    opacity: 1;
    text-shadow: 0 0 30px #9e7d35, 0 0 60px #9e7d35;
  }
  55.1% {
    opacity: 0;
    text-shadow: none;
  }
  57% {
    opacity: 0;
    text-shadow: none;
  }
  57.1% {
    opacity: 1;
    text-shadow: 0 0 30px #9e7d35, 0 0 60px #9e7d35;
  }
  60% {
    opacity: 1;
    text-shadow: 0 0 30px #9e7d35, 0 0 60px #9e7d35;
  }
  60.1% {
    opacity: 0;
    text-shadow: none;
  }
  65% {
    opacity: 0;
    text-shadow: none;
  }
  65.1% {
    opacity: 1;
    text-shadow: 0 0 30px #9e7d35, 0 0 60px #9e7d35, 0 0 100px #9e7d35;
  }
  75% {
    opacity: 1;
    text-shadow: 0 0 30px #9e7d35, 0 0 60px #9e7d35, 0 0 100px #9e7d35;
  }
  75.1% {
    opacity: 0;
    text-shadow: none;
  }
  77% {
    opacity: 0;
    text-shadow: none;
  }
  77.1% {
    opacity: 1;
    text-shadow: 0 0 30px #9e7d35, 0 0 60px #9e7d35, 0 0 110px #9e7d35, 0 0 100px #9e7d35;
  }
  85% {
    opacity: 1;
    text-shadow: 0 0 30px #9e7d35, 0 0 60px #9e7d35, 0 0 110px #9e7d35, 0 0 100px #9e7d35;
  }
  85.1% {
    opacity: 0;
    text-shadow: none;
  }
  86% {
    opacity: 0;
    text-shadow: none;
  }
  86.1% {
    opacity: 1;
    text-shadow: 0 0 30px #9e7d35, 0 0 60px #9e7d35, 0 0 110px #9e7d35, 0 0 100px #9e7d35;
  }
  100% {
    opacity: 1;
    text-shadow: 0 0 30px #9e7d35, 0 0 60px #9e7d35, 0 0 110px #9e7d35, 0 0 100px #9e7d35;
  }
}
@keyframes text-flicker-in-glow {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
    text-shadow: none;
  }
  10.1% {
    opacity: 1;
    text-shadow: none;
  }
  10.2% {
    opacity: 0;
    text-shadow: none;
  }
  20% {
    opacity: 0;
    text-shadow: none;
  }
  20.1% {
    opacity: 1;
    text-shadow: 0 0 30px #9e7d35;
  }
  20.6% {
    opacity: 0;
    text-shadow: none;
  }
  30% {
    opacity: 0;
    text-shadow: none;
  }
  30.1% {
    opacity: 1;
    text-shadow: 0 0 30px #9e7d35, 0 0 60px #9e7d35;
  }
  30.5% {
    opacity: 1;
    text-shadow: 0 0 30px #9e7d35, 0 0 60px #9e7d35;
  }
  30.6% {
    opacity: 0;
    text-shadow: none;
  }
  45% {
    opacity: 0;
    text-shadow: none;
  }
  45.1% {
    opacity: 1;
    text-shadow: 0 0 30px #9e7d35, 0 0 60px #9e7d35;
  }
  50% {
    opacity: 1;
    text-shadow: 0 0 30px #9e7d35, 0 0 60px #9e7d35;
  }
  55% {
    opacity: 1;
    text-shadow: 0 0 30px #9e7d35, 0 0 60px #9e7d35;
  }
  55.1% {
    opacity: 0;
    text-shadow: none;
  }
  57% {
    opacity: 0;
    text-shadow: none;
  }
  57.1% {
    opacity: 1;
    text-shadow: 0 0 30px #9e7d35, 0 0 60px #9e7d35;
  }
  60% {
    opacity: 1;
    text-shadow: 0 0 30px #9e7d35, 0 0 60px #9e7d35;
  }
  60.1% {
    opacity: 0;
    text-shadow: none;
  }
  65% {
    opacity: 0;
    text-shadow: none;
  }
  65.1% {
    opacity: 1;
    text-shadow: 0 0 30px #9e7d35, 0 0 60px #9e7d35, 0 0 100px #9e7d35;
  }
  75% {
    opacity: 1;
    text-shadow: 0 0 30px #9e7d35, 0 0 60px #9e7d35, 0 0 100px #9e7d35;
  }
  75.1% {
    opacity: 0;
    text-shadow: none;
  }
  77% {
    opacity: 0;
    text-shadow: none;
  }
  77.1% {
    opacity: 1;
    text-shadow: 0 0 30px #9e7d35, 0 0 60px #9e7d35, 0 0 110px #9e7d35, 0 0 100px #9e7d35;
  }
  85% {
    opacity: 1;
    text-shadow: 0 0 30px #9e7d35, 0 0 60px #9e7d35, 0 0 110px #9e7d35, 0 0 100px #9e7d35;
  }
  85.1% {
    opacity: 0;
    text-shadow: none;
  }
  86% {
    opacity: 0;
    text-shadow: none;
  }
  86.1% {
    opacity: 1;
    text-shadow: 0 0 30px #9e7d35, 0 0 60px #9e7d35, 0 0 110px #9e7d35, 0 0 100px #9e7d35;
  }
  100% {
    opacity: 1;
    text-shadow: 0 0 30px #9e7d35, 0 0 60px #9e7d35, 0 0 110px #9e7d35, 0 0 100px #9e7d35;
  }
}
.showcase {
  min-height: 100vh;
  position: relative;
  color: #ffffff;
  overflow: hidden;
}
.showcase::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  box-shadow: inset 0 0 50rem #000000;
}
.showcase::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(../img/light.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center -6.5rem;
  -webkit-animation: light 3s ease-in-out infinite;
          animation: light 3s ease-in-out infinite;
}
.showcase .showcase__title {
  width: 100%;
  font-size: 3.2rem;
  font-family: assassin-st, sans-serif;
  text-align: center;
  opacity: 0.7;
  position: absolute;
  top: 4rem;
  z-index: 1;
}
.showcase .showcase__title span {
  color: #cc8869;
}
.showcase .showcase__content--wrapper {
  padding: 12rem 0;
  height: 100vh;
  position: relative;
  z-index: 2;
}
.showcase .showcase__content--wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-image: url(../img/glow.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-animation: glow 1.8s ease-in-out infinite;
          animation: glow 1.8s ease-in-out infinite;
}
.showcase .showcase__content--wrapper .showcase__content .showcase-carousel .swiper-wrapper .showcase-carousel__item.swiper-slide-active {
  opacity: 0.8;
  transform: scale(0.95);
}
.showcase .showcase__content--wrapper .showcase__content .showcase-carousel .swiper-wrapper .showcase-carousel__item {
  height: calc(100vh - 24rem);
  text-align: center;
  position: relative;
  opacity: 0.25;
  transform: scale(0.65);
  transition: opacity 1.8s cubic-bezier(0.4, 0, 0, 1), transform 1.8s cubic-bezier(0.4, 0, 0, 1);
}
.showcase .showcase__content--wrapper .showcase__content .showcase-carousel .swiper-wrapper .showcase-carousel__item::after {
  content: "";
  width: 12rem;
  height: 10rem;
  background-color: #000000;
  border-radius: 50%;
  box-shadow: 0 0 65px 70px #000000;
  opacity: 0.6;
  position: absolute;
  bottom: -7rem;
  left: calc(50% - 6rem);
  transform: rotateX(70deg);
}
.showcase .showcase__content--wrapper .showcase__content .showcase-carousel .swiper-wrapper .showcase-carousel__item p {
  width: 100%;
  font-size: 5rem;
  font-family: assassin-st, sans-serif;
  position: absolute;
  bottom: -10rem;
  opacity: 0.7;
  text-shadow: rgb(58, 78, 94) 0 0 10px;
  z-index: 1;
}
.showcase .showcase__content--wrapper .showcase__content .showcase-carousel .swiper-wrapper .showcase-carousel__item .showcase-carausel__image-wrapper {
  width: 100%;
  height: 100%;
  perspective: 15rem;
  transform-style: preserve-3d;
  position: absolute;
}
.showcase .showcase__content--wrapper .showcase__content .showcase-carousel .swiper-wrapper .showcase-carousel__item .showcase-carausel__image-wrapper .showcase-carousel__image-left .showcase-caraousel__image {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.showcase .showcase__content--wrapper .showcase__content .showcase-carousel .swiper-wrapper .showcase-carousel__item .showcase-carausel__image-wrapper .showcase-carousel__image-left .image1 {
  background-image: url(../../img/1.png);
}
.showcase .showcase__content--wrapper .showcase__content .showcase-carousel .swiper-wrapper .showcase-carousel__item .showcase-carausel__image-wrapper .showcase-carousel__image-left .image2 {
  background-image: url(../../img/2.png);
}
.showcase .showcase__content--wrapper .showcase__content .showcase-carousel .swiper-wrapper .showcase-carousel__item .showcase-carausel__image-wrapper .showcase-carousel__image-left .image3 {
  background-image: url(../../img/3.png);
}
.showcase .showcase__content--wrapper .showcase__content .showcase-carousel .swiper-wrapper .showcase-carousel__item .showcase-carausel__image-wrapper .showcase-carousel__image-left .image4 {
  background-image: url(../../img/4.png);
}
.showcase .showcase__content--wrapper .showcase__content .showcase-carousel .swiper-wrapper .showcase-carousel__item .showcase-carausel__image-wrapper .showcase-carousel__image-right .image1 {
  background-image: url(../../img/1.png);
}
.showcase .showcase__content--wrapper .showcase__content .showcase-carousel .swiper-wrapper .showcase-carousel__item .showcase-carausel__image-wrapper .showcase-carousel__image-right .image2 {
  background-image: url(../../img/2.png);
}
.showcase .showcase__content--wrapper .showcase__content .showcase-carousel .swiper-wrapper .showcase-carousel__item .showcase-carausel__image-wrapper .showcase-carousel__image-right .image3 {
  background-image: url(../../img/3.png);
}
.showcase .showcase__content--wrapper .showcase__content .showcase-carousel .swiper-wrapper .showcase-carousel__item .showcase-carausel__image-wrapper .showcase-carousel__image-right .image4 {
  background-image: url(../../img/4.png);
}
.showcase .showcase__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.4;
}

@-webkit-keyframes light {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.2;
  }
}

@keyframes light {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.2;
  }
}
@-webkit-keyframes glow {
  0% {
    opacity: 0.6;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.6;
  }
}
@keyframes glow {
  0% {
    opacity: 0.6;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.6;
  }
}
.header {
  position: relative;
}
.header::before {
  content: "";
  width: 100%;
  height: calc((1vw + 1vh) * 10);
  background-image: url(../img/ground.png);
  background-size: cover;
  background-position: center;
  position: absolute;
  bottom: calc((1vw + 1vh) * -4.5);
  z-index: 10;
  filter: brightness(0.5);
}
.header .layers {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  position: relative;
  overflow: hidden;
}
.header .layers .layers__text {
  margin: 0 0.3rem;
  font-weight: 900;
  color: #e7e7d3;
  text-transform: uppercase;
  text-shadow: 0 0 15px #9e7d35;
  transform: translate3d(0, calc(var(--scrollTop) / 2), 0);
  will-change: transform;
  z-index: 1;
  position: relative;
  transition: transform 0.75s cubic-bezier(0.075, 0.5, 0, 1);
  -webkit-animation: text-focus-in 2s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus-in 2s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}
.header .layers .layers__text .text__caption {
  font-size: calc((1vw + 1vh) * 0.9);
  letter-spacing: calc((1vw + 1vh) / 3.5);
}
@media only screen and (max-width: 37.5em) {
  .header .layers .layers__text .text__caption {
    font-size: calc((1vw + 1vh) * 1.3);
  }
}
.header .layers .layers__text .text__title {
  font-size: calc((1vw + 1vh) * 2);
  letter-spacing: calc((1vw + 1vh) / 2);
  margin-bottom: calc((1vw + 1vh) * 3);
}
@media only screen and (max-width: 37.5em) {
  .header .layers .layers__text .text__title {
    font-size: calc((1vw + 1vh) * 2.4);
    margin-bottom: calc((1vw + 1vh) * -0.5);
  }
}
.header .layers .layer {
  height: 100%;
  width: 100%;
  position: absolute;
  background-size: cover;
  background-position: center;
  will-change: transform;
  z-index: 2;
  transition: transform 0.75s cubic-bezier(0.075, 0.5, 0, 1);
}
.header .layers .layers__base {
  background-image: url(../img/layer-base.png);
  transform: translate3d(0, calc(var(--scrollTop) / 1.6), 0);
  z-index: 0;
}
.header .layers .layers__middle {
  background-image: url(../img/layer-middle.png);
  transform: translate3d(0, calc(var(--scrollTop) / 2.6), 0);
}
.header .layers .layers__front {
  background-image: url(../img/layer-front.png);
  transform: translate3d(0, calc(var(--scrollTop) / 5.6), 0);
}

.text-flicker-in-glow {
  -webkit-animation: text-flicker-in-glow 4s linear both;
  animation: text-flicker-in-glow 4s linear both;
}

@-webkit-keyframes text-focus-in {
  0% {
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}