body {
  background-color: #010101;
  font-family: raleway_f, sans-serif;
  font-size: 1.6rem;
  line-height: 1.55;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
body::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.container,
.wrapper {
  will-change: transform;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

html {
  font-size: 62.5%;
  -webkit-text-size-adjust: 16px;
  -ms-text-size-adjust: 16px;
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (max-width: 37.5em) {
  html {
    font-size: 45%;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

input[type=number]:hover,
input[type=number]:focus {
  -moz-appearance: number-input;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

ol,
ul,
menu {
  list-style: none;
}

@font-face {
  font-family: raleway_f;
  src: url(../../fonts/raleway-black.woff2);
  font-weight: 900;
}
@font-face {
  font-family: raleway_f;
  src: url(../../fonts/raleway-regular.woff2);
}
.main__article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
  color: #e7e7d3;
  background-image: url(../img/dungeon.jpg);
  background-size: cover;
  background-position: center;
}
.main__article .main__article--content {
  margin: 0 2.5rem;
  text-align: center;
  -webkit-transition: -webkit-transform 0.75s cubic-bezier(0.075, 0.5, 0, 1);
  transition: -webkit-transform 0.75s cubic-bezier(0.075, 0.5, 0, 1);
  -o-transition: transform 0.75s cubic-bezier(0.075, 0.5, 0, 1);
  transition: transform 0.75s cubic-bezier(0.075, 0.5, 0, 1);
  transition: transform 0.75s cubic-bezier(0.075, 0.5, 0, 1), -webkit-transform 0.75s cubic-bezier(0.075, 0.5, 0, 1);
}
.main__article .main__article--content .main__article__title {
  font-size: calc((1vw + 1vh) * 1.8);
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 0 0 15px #9e7d35;
  letter-spacing: calc((1vw + 1vh) / 4.5);
  -webkit-transform: translate3d(0, calc(var(--scrollTop) / 20), 0);
          transform: translate3d(0, calc(var(--scrollTop) / 20), 0);
  will-change: transform;
  -webkit-animation: text-flicker-in-glow 4s linear both infinite;
  animation: text-flicker-in-glow 4s linear both infinite;
}
.main__article .main__article--content .main__article__subtitle {
  max-width: 70rem;
  font-size: calc((1vw + 1vh) * 1);
  -webkit-transform: translate3d(0, calc(var(--scrollTop) / 20), 0);
          transform: translate3d(0, calc(var(--scrollTop) / 20), 0);
  will-change: transform;
}

@-webkit-keyframes text-flicker-in-glow {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
    text-shadow: none;
  }
  10.1% {
    opacity: 1;
    text-shadow: none;
  }
  10.2% {
    opacity: 0;
    text-shadow: none;
  }
  20% {
    opacity: 0;
    text-shadow: none;
  }
  20.1% {
    opacity: 1;
    text-shadow: 0 0 30px #9e7d35;
  }
  20.6% {
    opacity: 0;
    text-shadow: none;
  }
  30% {
    opacity: 0;
    text-shadow: none;
  }
  30.1% {
    opacity: 1;
    text-shadow: 0 0 30px #9e7d35, 0 0 60px #9e7d35;
  }
  30.5% {
    opacity: 1;
    text-shadow: 0 0 30px #9e7d35, 0 0 60px #9e7d35;
  }
  30.6% {
    opacity: 0;
    text-shadow: none;
  }
  45% {
    opacity: 0;
    text-shadow: none;
  }
  45.1% {
    opacity: 1;
    text-shadow: 0 0 30px #9e7d35, 0 0 60px #9e7d35;
  }
  50% {
    opacity: 1;
    text-shadow: 0 0 30px #9e7d35, 0 0 60px #9e7d35;
  }
  55% {
    opacity: 1;
    text-shadow: 0 0 30px #9e7d35, 0 0 60px #9e7d35;
  }
  55.1% {
    opacity: 0;
    text-shadow: none;
  }
  57% {
    opacity: 0;
    text-shadow: none;
  }
  57.1% {
    opacity: 1;
    text-shadow: 0 0 30px #9e7d35, 0 0 60px #9e7d35;
  }
  60% {
    opacity: 1;
    text-shadow: 0 0 30px #9e7d35, 0 0 60px #9e7d35;
  }
  60.1% {
    opacity: 0;
    text-shadow: none;
  }
  65% {
    opacity: 0;
    text-shadow: none;
  }
  65.1% {
    opacity: 1;
    text-shadow: 0 0 30px #9e7d35, 0 0 60px #9e7d35, 0 0 100px #9e7d35;
  }
  75% {
    opacity: 1;
    text-shadow: 0 0 30px #9e7d35, 0 0 60px #9e7d35, 0 0 100px #9e7d35;
  }
  75.1% {
    opacity: 0;
    text-shadow: none;
  }
  77% {
    opacity: 0;
    text-shadow: none;
  }
  77.1% {
    opacity: 1;
    text-shadow: 0 0 30px #9e7d35, 0 0 60px #9e7d35, 0 0 110px #9e7d35, 0 0 100px #9e7d35;
  }
  85% {
    opacity: 1;
    text-shadow: 0 0 30px #9e7d35, 0 0 60px #9e7d35, 0 0 110px #9e7d35, 0 0 100px #9e7d35;
  }
  85.1% {
    opacity: 0;
    text-shadow: none;
  }
  86% {
    opacity: 0;
    text-shadow: none;
  }
  86.1% {
    opacity: 1;
    text-shadow: 0 0 30px #9e7d35, 0 0 60px #9e7d35, 0 0 110px #9e7d35, 0 0 100px #9e7d35;
  }
  100% {
    opacity: 1;
    text-shadow: 0 0 30px #9e7d35, 0 0 60px #9e7d35, 0 0 110px #9e7d35, 0 0 100px #9e7d35;
  }
}
@keyframes text-flicker-in-glow {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
    text-shadow: none;
  }
  10.1% {
    opacity: 1;
    text-shadow: none;
  }
  10.2% {
    opacity: 0;
    text-shadow: none;
  }
  20% {
    opacity: 0;
    text-shadow: none;
  }
  20.1% {
    opacity: 1;
    text-shadow: 0 0 30px #9e7d35;
  }
  20.6% {
    opacity: 0;
    text-shadow: none;
  }
  30% {
    opacity: 0;
    text-shadow: none;
  }
  30.1% {
    opacity: 1;
    text-shadow: 0 0 30px #9e7d35, 0 0 60px #9e7d35;
  }
  30.5% {
    opacity: 1;
    text-shadow: 0 0 30px #9e7d35, 0 0 60px #9e7d35;
  }
  30.6% {
    opacity: 0;
    text-shadow: none;
  }
  45% {
    opacity: 0;
    text-shadow: none;
  }
  45.1% {
    opacity: 1;
    text-shadow: 0 0 30px #9e7d35, 0 0 60px #9e7d35;
  }
  50% {
    opacity: 1;
    text-shadow: 0 0 30px #9e7d35, 0 0 60px #9e7d35;
  }
  55% {
    opacity: 1;
    text-shadow: 0 0 30px #9e7d35, 0 0 60px #9e7d35;
  }
  55.1% {
    opacity: 0;
    text-shadow: none;
  }
  57% {
    opacity: 0;
    text-shadow: none;
  }
  57.1% {
    opacity: 1;
    text-shadow: 0 0 30px #9e7d35, 0 0 60px #9e7d35;
  }
  60% {
    opacity: 1;
    text-shadow: 0 0 30px #9e7d35, 0 0 60px #9e7d35;
  }
  60.1% {
    opacity: 0;
    text-shadow: none;
  }
  65% {
    opacity: 0;
    text-shadow: none;
  }
  65.1% {
    opacity: 1;
    text-shadow: 0 0 30px #9e7d35, 0 0 60px #9e7d35, 0 0 100px #9e7d35;
  }
  75% {
    opacity: 1;
    text-shadow: 0 0 30px #9e7d35, 0 0 60px #9e7d35, 0 0 100px #9e7d35;
  }
  75.1% {
    opacity: 0;
    text-shadow: none;
  }
  77% {
    opacity: 0;
    text-shadow: none;
  }
  77.1% {
    opacity: 1;
    text-shadow: 0 0 30px #9e7d35, 0 0 60px #9e7d35, 0 0 110px #9e7d35, 0 0 100px #9e7d35;
  }
  85% {
    opacity: 1;
    text-shadow: 0 0 30px #9e7d35, 0 0 60px #9e7d35, 0 0 110px #9e7d35, 0 0 100px #9e7d35;
  }
  85.1% {
    opacity: 0;
    text-shadow: none;
  }
  86% {
    opacity: 0;
    text-shadow: none;
  }
  86.1% {
    opacity: 1;
    text-shadow: 0 0 30px #9e7d35, 0 0 60px #9e7d35, 0 0 110px #9e7d35, 0 0 100px #9e7d35;
  }
  100% {
    opacity: 1;
    text-shadow: 0 0 30px #9e7d35, 0 0 60px #9e7d35, 0 0 110px #9e7d35, 0 0 100px #9e7d35;
  }
}
.header {
  position: relative;
}
.header::before {
  content: "";
  width: 100%;
  height: calc((1vw + 1vh) * 10);
  background-image: url(../img/ground.png);
  background-size: cover;
  background-position: center;
  position: absolute;
  bottom: calc((1vw + 1vh) * -4.5);
  z-index: 10;
  -webkit-filter: brightness(0.5);
          filter: brightness(0.5);
}
.header .layers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  text-align: center;
  position: relative;
  overflow: hidden;
}
.header .layers .layers__text {
  margin: 0 0.3rem;
  font-weight: 900;
  color: #e7e7d3;
  text-transform: uppercase;
  text-shadow: 0 0 15px #9e7d35;
  -webkit-transform: translate3d(0, calc(var(--scrollTop) / 2), 0);
          transform: translate3d(0, calc(var(--scrollTop) / 2), 0);
  will-change: transform;
  z-index: 1;
  position: relative;
  -webkit-transition: -webkit-transform 0.75s cubic-bezier(0.075, 0.5, 0, 1);
  transition: -webkit-transform 0.75s cubic-bezier(0.075, 0.5, 0, 1);
  -o-transition: transform 0.75s cubic-bezier(0.075, 0.5, 0, 1);
  transition: transform 0.75s cubic-bezier(0.075, 0.5, 0, 1);
  transition: transform 0.75s cubic-bezier(0.075, 0.5, 0, 1), -webkit-transform 0.75s cubic-bezier(0.075, 0.5, 0, 1);
  -webkit-animation: text-focus-in 2s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus-in 2s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}
.header .layers .layers__text .text__caption {
  font-size: calc((1vw + 1vh) * 0.9);
  letter-spacing: calc((1vw + 1vh) / 3.5);
}
@media only screen and (max-width: 37.5em) {
  .header .layers .layers__text .text__caption {
    font-size: calc((1vw + 1vh) * 1.2);
  }
}
.header .layers .layers__text .text__title {
  font-size: calc((1vw + 1vh) * 2);
  letter-spacing: calc((1vw + 1vh) / 2);
  margin-bottom: calc((1vw + 1vh) * 3);
}
@media only screen and (max-width: 37.5em) {
  .header .layers .layers__text .text__title {
    font-size: calc((1vw + 1vh) * 2.5);
    margin-bottom: calc((1vw + 1vh) * -0.5);
  }
}
.header .layers .layer {
  height: 100%;
  width: 100%;
  position: absolute;
  background-size: cover;
  background-position: center;
  will-change: transform;
  z-index: 2;
  -webkit-transition: -webkit-transform 0.75s cubic-bezier(0.075, 0.5, 0, 1);
  transition: -webkit-transform 0.75s cubic-bezier(0.075, 0.5, 0, 1);
  -o-transition: transform 0.75s cubic-bezier(0.075, 0.5, 0, 1);
  transition: transform 0.75s cubic-bezier(0.075, 0.5, 0, 1);
  transition: transform 0.75s cubic-bezier(0.075, 0.5, 0, 1), -webkit-transform 0.75s cubic-bezier(0.075, 0.5, 0, 1);
}
.header .layers .layers__base {
  background-image: url(../img/layer-base.png);
  -webkit-transform: translate3d(0, calc(var(--scrollTop) / 1.6), 0);
          transform: translate3d(0, calc(var(--scrollTop) / 1.6), 0);
  z-index: 0;
}
.header .layers .layers__middle {
  background-image: url(../img/layer-middle.png);
  -webkit-transform: translate3d(0, calc(var(--scrollTop) / 2.6), 0);
          transform: translate3d(0, calc(var(--scrollTop) / 2.6), 0);
}
.header .layers .layers__front {
  background-image: url(../img/layer-front.png);
  -webkit-transform: translate3d(0, calc(var(--scrollTop) / 5.6), 0);
          transform: translate3d(0, calc(var(--scrollTop) / 5.6), 0);
}

.text-flicker-in-glow {
  -webkit-animation: text-flicker-in-glow 4s linear both;
  animation: text-flicker-in-glow 4s linear both;
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}