body {
  background-color: #000000;
  font-family: raleway_f, assassin-st, system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 1.6rem;
  line-height: 1.55;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
body::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.container,
.wrapper {
  will-change: transform;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

html {
  font-size: 62.5%;
  -webkit-text-size-adjust: 16px;
  -ms-text-size-adjust: 16px;
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (max-width: 37.5em) {
  html {
    font-size: 45%;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

input[type=number]:hover,
input[type=number]:focus {
  -moz-appearance: number-input;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

ol,
ul,
menu {
  list-style: none;
}

@font-face {
  font-family: raleway_f;
  src: url(../fonts/raleway-black.woff2);
  font-weight: 900;
}
@font-face {
  font-family: raleway_f;
  src: url(../fonts/raleway-regular.woff2);
}
@font-face {
  font-family: assassin-st;
  src: url(../fonts/assassin.woff2);
}
.portfolio__title, .education__title, .info__title, .info__social {
  align-self: start;
  color: #e7e7d3;
  font-family: assassin-st, sans-serif;
  font-size: calc((1vw + 1vh) * 1.8);
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 15px #9e7d35;
  letter-spacing: calc((1vw + 1vh) / 4.5);
  transform: translate3d(0, calc(var(--scrollTop) / 20), 0);
  will-change: transform;
}
@media only screen and (max-width: 37.5em) {
  .portfolio__title, .education__title, .info__title, .info__social {
    font-size: calc((1vw + 1vh) * 3);
  }
}

.main__article {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: #e7e7d3;
  background-image: url(../img/dungeon.jpg);
  background-size: cover;
  background-position: center;
}
.main__article::before {
  content: "";
  width: 100%;
  height: calc((1vw + 1vh) * 10);
  background-image: url(../img/ground.png);
  background-size: cover;
  background-position: center;
  position: absolute;
  bottom: calc((1vw + 1vh) * -4.5);
  z-index: 10;
  filter: brightness(0.5);
}
.main__article .main__article--content {
  margin: 0 2.5rem;
  text-align: center;
  transition: transform 0.75s cubic-bezier(0.075, 0.5, 0, 1);
}
.main__article .main__article--content .main__article__title {
  font-family: assassin-st, sans-serif;
  font-size: calc((1vw + 1vh) * 1.8);
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 0 0 15px #9e7d35;
  letter-spacing: calc((1vw + 1vh) / 4.5);
  transform: translate3d(0, calc(var(--scrollTop) / 20), 0);
  will-change: transform;
  -webkit-animation: text-flicker-in-glow 4s linear both infinite;
  animation: text-flicker-in-glow 4s linear both infinite;
}
@media only screen and (max-width: 37.5em) {
  .main__article .main__article--content .main__article__title {
    font-size: calc((1vw + 1vh) * 3);
  }
}
.main__article .main__article--content .main__article__subtitle {
  max-width: 70rem;
  font-size: calc((1vw + 1vh) * 1);
  transform: translate3d(0, calc(var(--scrollTop) / 20), 0);
  will-change: transform;
}
@media only screen and (max-width: 37.5em) {
  .main__article .main__article--content .main__article__subtitle {
    font-size: calc((1vw + 1vh) * 1.3);
  }
}

@-webkit-keyframes text-flicker-in-glow {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
    text-shadow: none;
  }
  10.1% {
    opacity: 1;
    text-shadow: none;
  }
  10.2% {
    opacity: 0;
    text-shadow: none;
  }
  20% {
    opacity: 0;
    text-shadow: none;
  }
  20.1% {
    opacity: 1;
    text-shadow: 0 0 30px #9e7d35;
  }
  20.6% {
    opacity: 0;
    text-shadow: none;
  }
  30% {
    opacity: 0;
    text-shadow: none;
  }
  30.1% {
    opacity: 1;
    text-shadow: 0 0 30px #9e7d35, 0 0 60px #9e7d35;
  }
  30.5% {
    opacity: 1;
    text-shadow: 0 0 30px #9e7d35, 0 0 60px #9e7d35;
  }
  30.6% {
    opacity: 0;
    text-shadow: none;
  }
  45% {
    opacity: 0;
    text-shadow: none;
  }
  45.1% {
    opacity: 1;
    text-shadow: 0 0 30px #9e7d35, 0 0 60px #9e7d35;
  }
  50% {
    opacity: 1;
    text-shadow: 0 0 30px #9e7d35, 0 0 60px #9e7d35;
  }
  55% {
    opacity: 1;
    text-shadow: 0 0 30px #9e7d35, 0 0 60px #9e7d35;
  }
  55.1% {
    opacity: 0;
    text-shadow: none;
  }
  57% {
    opacity: 0;
    text-shadow: none;
  }
  57.1% {
    opacity: 1;
    text-shadow: 0 0 30px #9e7d35, 0 0 60px #9e7d35;
  }
  60% {
    opacity: 1;
    text-shadow: 0 0 30px #9e7d35, 0 0 60px #9e7d35;
  }
  60.1% {
    opacity: 0;
    text-shadow: none;
  }
  65% {
    opacity: 0;
    text-shadow: none;
  }
  65.1% {
    opacity: 1;
    text-shadow: 0 0 30px #9e7d35, 0 0 60px #9e7d35, 0 0 100px #9e7d35;
  }
  75% {
    opacity: 1;
    text-shadow: 0 0 30px #9e7d35, 0 0 60px #9e7d35, 0 0 100px #9e7d35;
  }
  75.1% {
    opacity: 0;
    text-shadow: none;
  }
  77% {
    opacity: 0;
    text-shadow: none;
  }
  77.1% {
    opacity: 1;
    text-shadow: 0 0 30px #9e7d35, 0 0 60px #9e7d35, 0 0 110px #9e7d35, 0 0 100px #9e7d35;
  }
  85% {
    opacity: 1;
    text-shadow: 0 0 30px #9e7d35, 0 0 60px #9e7d35, 0 0 110px #9e7d35, 0 0 100px #9e7d35;
  }
  85.1% {
    opacity: 0;
    text-shadow: none;
  }
  86% {
    opacity: 0;
    text-shadow: none;
  }
  86.1% {
    opacity: 1;
    text-shadow: 0 0 30px #9e7d35, 0 0 60px #9e7d35, 0 0 110px #9e7d35, 0 0 100px #9e7d35;
  }
  100% {
    opacity: 1;
    text-shadow: 0 0 30px #9e7d35, 0 0 60px #9e7d35, 0 0 110px #9e7d35, 0 0 100px #9e7d35;
  }
}
@keyframes text-flicker-in-glow {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
    text-shadow: none;
  }
  10.1% {
    opacity: 1;
    text-shadow: none;
  }
  10.2% {
    opacity: 0;
    text-shadow: none;
  }
  20% {
    opacity: 0;
    text-shadow: none;
  }
  20.1% {
    opacity: 1;
    text-shadow: 0 0 30px #9e7d35;
  }
  20.6% {
    opacity: 0;
    text-shadow: none;
  }
  30% {
    opacity: 0;
    text-shadow: none;
  }
  30.1% {
    opacity: 1;
    text-shadow: 0 0 30px #9e7d35, 0 0 60px #9e7d35;
  }
  30.5% {
    opacity: 1;
    text-shadow: 0 0 30px #9e7d35, 0 0 60px #9e7d35;
  }
  30.6% {
    opacity: 0;
    text-shadow: none;
  }
  45% {
    opacity: 0;
    text-shadow: none;
  }
  45.1% {
    opacity: 1;
    text-shadow: 0 0 30px #9e7d35, 0 0 60px #9e7d35;
  }
  50% {
    opacity: 1;
    text-shadow: 0 0 30px #9e7d35, 0 0 60px #9e7d35;
  }
  55% {
    opacity: 1;
    text-shadow: 0 0 30px #9e7d35, 0 0 60px #9e7d35;
  }
  55.1% {
    opacity: 0;
    text-shadow: none;
  }
  57% {
    opacity: 0;
    text-shadow: none;
  }
  57.1% {
    opacity: 1;
    text-shadow: 0 0 30px #9e7d35, 0 0 60px #9e7d35;
  }
  60% {
    opacity: 1;
    text-shadow: 0 0 30px #9e7d35, 0 0 60px #9e7d35;
  }
  60.1% {
    opacity: 0;
    text-shadow: none;
  }
  65% {
    opacity: 0;
    text-shadow: none;
  }
  65.1% {
    opacity: 1;
    text-shadow: 0 0 30px #9e7d35, 0 0 60px #9e7d35, 0 0 100px #9e7d35;
  }
  75% {
    opacity: 1;
    text-shadow: 0 0 30px #9e7d35, 0 0 60px #9e7d35, 0 0 100px #9e7d35;
  }
  75.1% {
    opacity: 0;
    text-shadow: none;
  }
  77% {
    opacity: 0;
    text-shadow: none;
  }
  77.1% {
    opacity: 1;
    text-shadow: 0 0 30px #9e7d35, 0 0 60px #9e7d35, 0 0 110px #9e7d35, 0 0 100px #9e7d35;
  }
  85% {
    opacity: 1;
    text-shadow: 0 0 30px #9e7d35, 0 0 60px #9e7d35, 0 0 110px #9e7d35, 0 0 100px #9e7d35;
  }
  85.1% {
    opacity: 0;
    text-shadow: none;
  }
  86% {
    opacity: 0;
    text-shadow: none;
  }
  86.1% {
    opacity: 1;
    text-shadow: 0 0 30px #9e7d35, 0 0 60px #9e7d35, 0 0 110px #9e7d35, 0 0 100px #9e7d35;
  }
  100% {
    opacity: 1;
    text-shadow: 0 0 30px #9e7d35, 0 0 60px #9e7d35, 0 0 110px #9e7d35, 0 0 100px #9e7d35;
  }
}
.showcase {
  min-height: 100vh;
  position: relative;
  color: #ffffff;
  overflow: hidden;
  background-image: url(../img/dungeon3.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
  filter: saturate(0.7);
}
.showcase::before {
  content: "";
  width: 100%;
  height: calc((1vw + 1vh) * 10);
  background-image: url(../img/ground.png);
  background-size: cover;
  background-position: center;
  position: absolute;
  bottom: calc((1vw + 1vh) * -4.5);
  z-index: 10;
  filter: brightness(0.5);
}
.showcase::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(../img/light.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center -6.5rem;
  -webkit-animation: light 3s ease-in-out infinite;
          animation: light 3s ease-in-out infinite;
}
.showcase .showcase__title {
  color: #e7e7d3;
  font-family: assassin-st, sans-serif;
  font-size: calc((1vw + 1vh) * 1.8);
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 15px #9e7d35;
  letter-spacing: calc((1vw + 1vh) / 4.5);
  transform: translate3d(0, calc(var(--scrollTop) / 20), 0);
  will-change: transform;
}
@media only screen and (max-width: 37.5em) {
  .showcase .showcase__title {
    font-size: calc((1vw + 1vh) * 3);
  }
}
.showcase .showcase__content--wrapper {
  padding: 12rem 0;
  height: 100vh;
  position: relative;
  z-index: 2;
}
.showcase .showcase__content--wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-image: url(../img/glow.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-animation: glow 1.8s ease-in-out infinite;
          animation: glow 1.8s ease-in-out infinite;
}
.showcase .showcase__content--wrapper .showcase__content .showcase-carousel .swiper-wrapper {
  transition: cubic-bezier(0.4, 0, 0, 1);
}
.showcase .showcase__content--wrapper .showcase__content .showcase-carousel .swiper-wrapper .showcase-carousel__item.swiper-slide-active {
  opacity: 0.95;
  transform: scale(0.75);
}
@media only screen and (max-width: 37.5em) {
  .showcase .showcase__content--wrapper .showcase__content .showcase-carousel .swiper-wrapper .showcase-carousel__item.swiper-slide-active {
    transform: scale(0.9);
  }
}
.showcase .showcase__content--wrapper .showcase__content .showcase-carousel .swiper-wrapper .showcase-carousel__item {
  height: calc(100vh - 24rem);
  text-align: center;
  position: relative;
  opacity: 0.45;
  transform: scale(0.45);
  transition: opacity 1.8s cubic-bezier(0.4, 0, 0, 1), transform 1.8s cubic-bezier(0.4, 0, 0, 1);
}
.showcase .showcase__content--wrapper .showcase__content .showcase-carousel .swiper-wrapper .showcase-carousel__item::after {
  content: "";
  width: 12rem;
  height: 10rem;
  background-color: #000000;
  border-radius: 50%;
  box-shadow: 0 0 65px 100px #000000;
  opacity: 0.6;
  position: absolute;
  bottom: -7rem;
  left: calc(50% - 6rem);
  transform: rotateX(70deg);
}
.showcase .showcase__content--wrapper .showcase__content .showcase-carousel .swiper-wrapper .showcase-carousel__item p {
  width: 100%;
  font-size: 5rem;
  font-family: assassin-st, sans-serif;
  position: absolute;
  bottom: 0rem;
  opacity: 0.7;
  text-shadow: rgb(58, 78, 94) 0 0 10px;
  z-index: 1;
}
@media only screen and (max-width: 37.5em) {
  .showcase .showcase__content--wrapper .showcase__content .showcase-carousel .swiper-wrapper .showcase-carousel__item p {
    opacity: 1;
  }
}
.showcase .showcase__content--wrapper .showcase__content .showcase-carousel .swiper-wrapper .showcase-carousel__item .showcase-carausel__image-wrapper {
  width: 100%;
  height: 100%;
  perspective: 15rem;
  transform-style: preserve-3d;
  position: absolute;
}
.showcase .showcase__content--wrapper .showcase__content .showcase-carousel .swiper-wrapper .showcase-carousel__item .showcase-carausel__image-wrapper .showcase-carousel__image-left .showcase-caraousel__image {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  filter: drop-shadow(0 5px 10px #000000);
}
.showcase .showcase__content--wrapper .showcase__content .showcase-carousel .swiper-wrapper .showcase-carousel__item .showcase-carausel__image-wrapper .showcase-carousel__image-left .image1 {
  background-image: url(../img/css.svg);
}
.showcase .showcase__content--wrapper .showcase__content .showcase-carousel .swiper-wrapper .showcase-carousel__item .showcase-carausel__image-wrapper .showcase-carousel__image-left .image2 {
  background-image: url(../img/html.svg);
}
.showcase .showcase__content--wrapper .showcase__content .showcase-carousel .swiper-wrapper .showcase-carousel__item .showcase-carausel__image-wrapper .showcase-carousel__image-left .image3 {
  background-image: url(../img/js.svg);
}
.showcase .showcase__content--wrapper .showcase__content .showcase-carousel .swiper-wrapper .showcase-carousel__item .showcase-carausel__image-wrapper .showcase-carousel__image-left .image4 {
  background-image: url(../img/react.svg);
}
.showcase .showcase__content--wrapper .showcase__content .showcase-carousel .swiper-wrapper .showcase-carousel__item .showcase-carausel__image-wrapper .showcase-carousel__image-left .image5 {
  background-image: url(../img/sass.svg);
}
.showcase .showcase__content--wrapper .showcase__content .showcase-carousel .swiper-wrapper .showcase-carousel__item .showcase-carausel__image-wrapper .showcase-carousel__image-left .image6 {
  background-image: url(../img/figma-1-logo-svgrepo-com.svg);
}
.showcase .showcase__content--wrapper .showcase-navigation {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}
.showcase .showcase__content--wrapper .showcase-navigation > * {
  position: absolute;
  height: 100%;
  width: 50%;
  outline: none;
  cursor: pointer;
}
.showcase .showcase__content--wrapper .showcase-navigation > *::before {
  content: "?";
  font-size: 4rem;
  font-family: assassin-st;
  position: absolute;
  left: 5rem;
  top: 50%;
  opacity: 0;
  transform: rotate(-90deg);
  transition: 0.5s ease-out;
}
.showcase .showcase__content--wrapper .showcase-navigation > *:hover::before {
  opacity: 0.45;
}
.showcase .showcase__content--wrapper .showcase-navigation .showcase-navigation-next {
  right: 0;
}
.showcase .showcase__content--wrapper .showcase-navigation .showcase-navigation-next::before {
  transform: rotate(90deg);
  right: 5rem;
  left: auto;
}

@-webkit-keyframes light {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.2;
  }
}

@keyframes light {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.2;
  }
}
@-webkit-keyframes glow {
  0% {
    opacity: 0.6;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.6;
  }
}
@keyframes glow {
  0% {
    opacity: 0.6;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.6;
  }
}
.portfolio {
  min-height: 100vh;
  position: relative;
  color: #ffffff;
  overflow: hidden;
  background-image: url(../img/dungeon4.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: grid;
  place-items: center;
  filter: saturate(0.7);
  z-index: 1;
}
.portfolio::before {
  content: "";
  width: 100%;
  height: calc((1vw + 1vh) * 10);
  background-image: url(../img/ground.png);
  background-size: cover;
  background-position: center;
  position: absolute;
  top: calc((1vw + 1vh) * -5.5);
  z-index: 10;
  filter: brightness(0.8);
}
.portfolio::after {
  content: "";
  width: 100%;
  height: calc((1vw + 1vh) * 10);
  background-image: url(../img/ground.png);
  background-size: cover;
  background-position: center;
  position: absolute;
  bottom: calc((1vw + 1vh) * -4.5);
  z-index: 10;
  filter: brightness(0.8);
}
.portfolio .portfolio__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
@media only screen and (max-width: 37.5em) {
  .portfolio .portfolio__wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}
.portfolio .portfolio__wrapper .card {
  width: 30rem;
  height: 18rem;
  position: relative;
  perspective: 100rem;
  border: 1rem sandybrown solid;
  border-radius: 2rem;
  box-shadow: 8px 8px 18px #000000;
  cursor: pointer;
}
@media only screen and (max-width: 37.5em) {
  .portfolio .portfolio__wrapper .card {
    width: 30rem;
    height: 13rem;
  }
}
.portfolio .portfolio__wrapper .front,
.portfolio .portfolio__wrapper .back {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  background-color: transparent;
  overflow: hidden;
  border-radius: 1rem;
}
.portfolio .portfolio__wrapper .front {
  box-shadow: 8px 8px 18px #000000;
}
.portfolio .portfolio__wrapper .front img {
  max-width: 105%;
  min-width: 105%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
.portfolio .portfolio__wrapper .back {
  transform: rotateY(180deg);
  background: #22c1c3; /* fallback for old browsers */
  background: linear-gradient(to right, #fdbb2d, #22c1c3);
  box-shadow: 8px 8px 18px #000000;
}
.portfolio .portfolio__wrapper .back a {
  color: #e7e7d3;
  font-size: 3rem;
  font-weight: 900;
  text-shadow: 3px 3px 5px #000000;
}
@media only screen and (max-width: 37.5em) {
  .portfolio .portfolio__wrapper .back a {
    font-size: 2rem;
  }
}
.portfolio .portfolio__wrapper .back a:hover {
  text-shadow: 2px 2px 1px #000000;
  transform: scale(0.98);
}
.portfolio .portfolio__wrapper .card:hover .front {
  transform: rotateY(180deg);
}
.portfolio .portfolio__wrapper .card:hover .back {
  transform: rotateY(360deg);
}

.education {
  min-height: 100vh;
  position: relative;
  color: #ffffff;
  overflow: hidden;
  background-image: url(../img/dungeon2.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: grid;
  place-items: center;
  filter: saturate(0.7);
  z-index: 1;
}
.education::before {
  content: "";
  width: 100%;
  height: calc((1vw + 1vh) * 10);
  background-image: url(../img/ground.png);
  background-size: cover;
  background-position: center;
  position: absolute;
  top: calc((1vw + 1vh) * -5.5);
  z-index: 10;
  filter: brightness(0.8);
}
.education::after {
  content: "";
  width: 100%;
  height: calc((1vw + 1vh) * 10);
  background-image: url(../img/ground.png);
  background-size: cover;
  background-position: center;
  position: absolute;
  bottom: calc((1vw + 1vh) * -4.5);
  z-index: 10;
  filter: brightness(0.8);
}
.education .education__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
@media only screen and (max-width: 37.5em) {
  .education .education__wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}
.education .education__wrapper .card {
  width: 30rem;
  height: 18rem;
  position: relative;
  perspective: 100rem;
  border: 1rem sandybrown solid;
  border-radius: 2rem;
  box-shadow: 8px 8px 18px #000000;
  cursor: pointer;
}
@media only screen and (max-width: 37.5em) {
  .education .education__wrapper .card {
    width: 30rem;
    height: 13rem;
  }
}
.education .education__wrapper .front,
.education .education__wrapper .back {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  background-color: transparent;
  overflow: hidden;
  border-radius: 1rem;
}
.education .education__wrapper .front {
  box-shadow: 8px 8px 18px #000000;
}
.education .education__wrapper .front img {
  max-width: 105%;
  min-width: 105%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
.education .education__wrapper .back {
  transform: rotateY(180deg);
  background: #22c1c3; /* fallback for old browsers */
  background: linear-gradient(to right, #fdbb2d, #22c1c3);
  box-shadow: 8px 8px 18px #000000;
}
.education .education__wrapper .back a {
  color: #e7e7d3;
  font-size: 2.5rem;
  font-weight: 900;
  text-shadow: 3px 3px 5px #000000;
}
.education .education__wrapper .back a:hover {
  text-shadow: 2px 2px 1px #000000;
  transform: scale(0.98);
}
.education .education__wrapper .card:hover .front {
  transform: rotateY(180deg);
}
.education .education__wrapper .card:hover .back {
  transform: rotateY(360deg);
}

.header {
  position: relative;
}
.header::before {
  content: "";
  width: 100%;
  height: calc((1vw + 1vh) * 10);
  background-image: url(../img/ground.png);
  background-size: cover;
  background-position: center;
  position: absolute;
  bottom: calc((1vw + 1vh) * -4.5);
  z-index: 10;
  filter: brightness(0.5);
}
.header .layers {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  position: relative;
  overflow: hidden;
}
.header .layers .layers__text {
  margin: 0 0.3rem;
  font-weight: 900;
  color: #e7e7d3;
  text-transform: uppercase;
  text-shadow: 0 0 15px #9e7d35;
  transform: translate3d(0, calc(var(--scrollTop) / 2), 0);
  will-change: transform;
  z-index: 1;
  position: relative;
  transition: transform 0.75s cubic-bezier(0.075, 0.5, 0, 1);
  -webkit-animation: text-focus-in 2s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus-in 2s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}
.header .layers .layers__text .text__caption {
  font-size: calc((1vw + 1vh) * 0.9);
  letter-spacing: calc((1vw + 1vh) / 3.5);
}
@media only screen and (max-width: 37.5em) {
  .header .layers .layers__text .text__caption {
    font-size: calc((1vw + 1vh) * 1.3);
  }
}
.header .layers .layers__text .text__title {
  font-size: calc((1vw + 1vh) * 2);
  letter-spacing: calc((1vw + 1vh) / 2);
  margin-bottom: calc((1vw + 1vh) * 3);
}
@media only screen and (max-width: 37.5em) {
  .header .layers .layers__text .text__title {
    font-size: calc((1vw + 1vh) * 2.4);
    margin-bottom: calc((1vw + 1vh) * -0.5);
  }
}
.header .layers .layer {
  height: 100%;
  width: 100%;
  position: absolute;
  background-size: cover;
  background-position: center;
  will-change: transform;
  z-index: 2;
  transition: transform 0.75s cubic-bezier(0.075, 0.5, 0, 1);
}
.header .layers .layers__base {
  background-image: url(../img/layer-base.png);
  transform: translate3d(0, calc(var(--scrollTop) / 1.6), 0);
  z-index: 0;
}
.header .layers .layers__middle {
  background-image: url(../img/layer-middle.png);
  transform: translate3d(0, calc(var(--scrollTop) / 2.6), 0);
}
.header .layers .layers__front {
  background-image: url(../img/layer-front.png);
  transform: translate3d(0, calc(var(--scrollTop) / 5.6), 0);
}

.text-flicker-in-glow {
  -webkit-animation: text-flicker-in-glow 4s linear both;
  animation: text-flicker-in-glow 4s linear both;
}

@-webkit-keyframes text-focus-in {
  0% {
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}
.footer {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  position: relative;
  color: #ffffff;
  overflow: hidden;
  background-image: url(../img/dungeon7.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.footer::before {
  content: "";
  width: 100%;
  height: calc((1vw + 1vh) * 10);
  background-image: url(../img/ground.png);
  background-size: cover;
  background-position: center;
  position: absolute;
  top: calc((1vw + 1vh) * -5.5);
  z-index: 10;
  filter: brightness(0.8);
}
.footer .footer__img {
  margin-top: 10rem;
  max-width: 25rem;
  justify-self: start;
  transition: transform 5s ease-in-out;
  will-change: transform;
}
@media only screen and (max-width: 37.5em) {
  .footer .footer__img {
    margin-top: 10rem;
    max-width: 29rem;
  }
}
.footer .footer__img img {
  border-radius: 15rem 15rem 1rem 1rem;
  box-shadow: 0 0 30rem #f8d229;
  filter: brightness(0.9);
  filter: saturate(0.3);
  -webkit-animation: imgPulse 4s infinite;
          animation: imgPulse 4s infinite;
}
.footer .showcase__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.4;
  z-index: 2;
}

@-webkit-keyframes imgPulse {
  0% {
    box-shadow: 0 0 30rem #f8d229;
  }
  50% {
    box-shadow: 0 0 0.3rem #f8d229;
  }
  100% {
    box-shadow: 0 0 30rem #f8d229;
  }
}

@keyframes imgPulse {
  0% {
    box-shadow: 0 0 30rem #f8d229;
  }
  50% {
    box-shadow: 0 0 0.3rem #f8d229;
  }
  100% {
    box-shadow: 0 0 30rem #f8d229;
  }
}