.main__article {
  min-height: 100vh;
  background-image: url(../../img/dungeon.jpg);
  background-size: cover;
  background-position: center;
  .main__article--content {
    .main__article__title {
    }
    .main__article__subtitle {
    }
  }
}
