.main__article {
  position: relative;
  @include flexCenter;
  min-height: 100vh;
  color: $color-primary;
  background: linear-gradient(to bottom, #040805, $color-black);


  .main__article--content {
    margin: 0 2.5rem;
    text-align: center;
    transition: $transition;

    .main__article__title {
      font-family: assassin-st, sans-serif;
      font-size: calc($index * 1.8);
      font-weight: 700;
      text-transform: uppercase;
      text-shadow: 0 2px 1px $color-secondary;
      letter-spacing: calc($index / 4.5);
      transform: $parallax-effect;
      will-change: transform;

      
      @include respond(phone) {
        font-size: calc($index * 3);
      }
    }
    .main__article__subtitle {
      max-width: 70rem;
      font-size: calc($index * 1);
      transform: $parallax-effect;
      will-change: transform;
      user-select: none;
      @include respond(phone) {
        font-size: calc($index * 1.3);
      }
      span {
        display: inline-block;
        cursor: url('../cursors/Pointer_gauntlet_cast_on_32x32.webp'), pointer;
      }
    }
    .activeText {
      animation: textSmoke 2.5s linear forwards;
    }
  }
}

//animation

@keyframes textSmoke {
  20% {
    color: deeppink;
  }

  50% {
    color: darkviolet;
  }

  80% {
    color: fuchsia;
  }
  100% {
    transform: translateX(300px) translateY(-300px) rotate(420deg) scale(8);
    color: black;
    opacity: 0;
    filter: blur(30px);
    display: none;
  }
}
