.education {
  min-height: 100vh;
  position: relative;
  color: $color-white;
  overflow: hidden;
  background-image: url(../img/dungeon2.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: grid;
  place-items: center;
  filter: saturate(0.7);
  z-index: 1;
  &::before {
    content: '';
    width: 100%;
    height: calc($index * 10);
    background-image: url(../img/ground.png);
    background-size: cover;
    background-position: center;
    position: absolute;
    top: calc($index * -5.5);
    z-index: 10;
    filter: brightness(0.8);
  }
  &::after {
    content: '';
    width: 100%;
    height: calc($index * 10);
    background-image: url(../img/ground.png);
    background-size: cover;
    background-position: center;
    position: absolute;
    bottom: calc($index * -4.5);
    z-index: 10;
    filter: brightness(0.8);
  }

  .education__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    @include respond(phone) {
      grid-template-columns: repeat(1, 1fr);
    }
    .card {
      width: 30rem;
      height: 18rem;
      position: relative;
      perspective: 100rem;
      border: 1rem sandybrown solid;
      border-radius: 2rem;
      box-shadow: $box-shadow-card;
      cursor: pointer;
      @include respond(phone) {
        width: 30rem;
        height: 13rem;
      }
    }
    .front,
    .back {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 1s ease;
      backface-visibility: hidden;
      background-color: transparent;
      overflow: hidden;
      border-radius: 1rem;
    }
    .front {
      box-shadow: $box-shadow-card;

      img {
        max-width: 105%;
        min-width: 105%;
        height: auto;
        object-fit: contain;
      }
    }
    .back {
      transform: rotateY(180deg);
      background: #22c1c3; /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #fdbb2d, #22c1c3);
      background: linear-gradient(to right, #fdbb2d, #22c1c3);
      box-shadow: $box-shadow-card;

      a {
        color: $color-primary;
        font-size: 2.5rem;
        font-weight: 900;
        text-shadow: 3px 3px 5px $color-black;
        &:hover {
          text-shadow: 2px 2px 1px $color-black;
          transform: scale(0.98);
        }
      }
    }
    .card:hover .front {
      transform: rotateY(180deg);
    }
    .card:hover .back {
      transform: rotateY(360deg);
    }
  }
}
