.portfolio {
  overflow: hidden;
  .swiper {
    width: 100%;
    min-height: 100vh;
    background: $color-black;
    @include flexCenter;

    .slide__card {
      width: 90rem;
      padding: 2rem;
      background: rgba(255, 255, 255, 0.2);
      border-radius: 16px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(8.6px);
      -webkit-backdrop-filter: blur(8.6px);
      border: 1px solid rgba(255, 255, 255, 1);
      z-index: 10;
      position: relative;
      @include respond(tablet) {
        overflow: hidden;
        max-width: 65rem;
      }
      @include respond(phone) {
        max-width: 37rem;
        backdrop-filter: blur(13px);
        -webkit-backdrop-filter: blur(13px);
      }
      img {
        min-height: 60rem;
          min-height: auto;

        border-radius: 8px;
        box-shadow: 0 5px 15px $color-black;
        object-fit: cover;
        filter: opacity(0.95);
        @include respond(phone) {
          min-height: auto;
        }
      }
      a {
        font-size: 3rem;
        font-weight: 600;
        filter: drop-shadow(0 2px 1px $color-black);
        &:hover {
          color: $color-seagreen;
          cursor: $cousorPointer;
        }
      }
    }
  }

  .slide__wrap--circle {
    position: relative;
    &::after,
    &::before {
      content: '';
      width: 50rem;
      height: 50rem;
      border-radius: 50%;
      position: absolute;
      z-index: 1;
      @include respond(tablet-lend) {
        width: 30rem;
        height: 30rem;
      }
    }
    &::before {
      background-color: $color-seagreen;
      width: 40rem;
      height: 40rem;
      top: -10rem;
      right: -30rem;
      animation: slideCirclesRigth2 20s linear infinite;
      will-change: transform;
      @include respond(tablet) {
        width: 35rem;
        height: 35rem;
        right: -1rem;
        animation: none;
      }
      @include respond(phone) {
        top: -4rem;
        width: 13rem;
        height: 13rem;
      }
    }
    &::after {
      background-color: $color-darkorange;
      bottom: -2rem;
      left: -30rem;
      animation: slideCirclesLeft2 20s linear 1s infinite;
      will-change: transform;
      @include respond(tablet) {
        width: 43rem;
        height: 43rem;
        left: -2rem;
        bottom: -5rem;
        animation: none;
      }
      @include respond(phone) {
        bottom: -8rem;
        width: 23rem;
        height: 23rem;
      }
    }
  }

  @keyframes slideCirclesRigth2 {
    25% {
      top: -10rem;
      right: 60rem;
      width: 30rem;
      height: 30rem;
    }
    50% {
      top: 20rem;
      right: 30rem;
    }
    75% {
      top: 20rem;
      right: -10rem;
    }
  }
  @keyframes slideCirclesLeft2 {
    25% {
      bottom: -2rem;
      left: 30rem;
    }
    50% {
      bottom: 30rem;
      left: 30rem;
      width: 40rem;
      height: 40rem;
    }
    75% {
      bottom: 30rem;
      left: -10rem;
    }
  }
}
