.portfolio {
  overflow: hidden;
  .swiper {
    width: 100%;
    min-height: 100vh;
    background: $color-black;
    @include flexCenter;

    .slide__card {
      width: 90rem;
      padding: 2rem;
      background: rgba(255, 255, 255, 0.2);
      border-radius: 16px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(8.6px);
      -webkit-backdrop-filter: blur(8.6px);
      border: 1px solid rgba(255, 255, 255, 1);
      z-index: 10;
      position: relative;
      img {
        min-height: 60rem;
        border-radius: 8px;
        box-shadow: 0 5px 15px $color-black;
      }
      a {
        font-size: 3rem;
        font-weight: 600;
        filter: drop-shadow(0 2px 1px $color-black);
        &:hover {
          color: $color-seagreen;
          cursor: url('../cursors/Pointer_gauntlet_cast_on_32x32.webp'), pointer;
        }
      }
    }
  }

  .slide__wrap--circle {
    position: relative;
    &::after,
    &::before {
      content: '';
      width: 50rem;
      height: 50rem;
      border-radius: 50%;
      position: absolute;
      z-index: 1;
    }
    &::before {
      background-color: $color-seagreen;
      width: 60rem;
      height: 60rem;
      top: -10rem;
      right: -30rem;
      animation: slideCirclesRigth 20s linear infinite;
    }
    &::after {
      background-color: $color-darkorange;
      bottom: -2rem;
      left: -30rem;
      animation: slideCirclesLeft 20s linear 1s infinite;
    }
  }


  @keyframes slideCirclesRigth {
  25% {
    top: -10rem;
    right: 60rem;
    width: 50rem;
    height: 50rem;
  }
  50% {
    top: 20rem;
    right: 30rem;
  }
  75% {
    top: 20rem;
    right: -10rem;
  }
}
@keyframes slideCirclesLeft {
  25% {
    bottom: -2rem;
    left: 30rem;
  }
  50% {
    bottom: 30rem;
    left: 30rem;
    width: 40rem;
    height: 40rem;
  }
  75% {
    bottom: 30rem;
    left: -10rem;
  }
}
}
