.swiper {
  width: 100%;
  min-height: 100vh;
  background: $color-black;
  @include flexCenter;

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    //my css
    display: flex;
    flex-direction: column;
  }

  .swiper-slide {
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    h2 {
      font-size: 2rem;
      font-weight: 900;
    }
  }

  .slide__card {
    padding: 2rem;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.6px);
    -webkit-backdrop-filter: blur(8.6px);
    border: 1px solid rgba(255, 255, 255, 1);
    z-index: 2;
    position: relative;
  }
  .slide__wrap--circle {
    position: relative;
    &::after,
    &::before {
      content: '';
      width: 30rem;
      height: 30rem;
      border-radius: 50%;
      position: absolute;

      z-index: 1;
    }
    &::before {
      background-color: $color-deepskyblue;
      width: 40rem;
      height: 40rem;
      top: -10rem;
      right: -10rem;
    }
    &::after {
      background-color: $color-fuchsia;
      bottom: -2rem;
      left: -10rem;
    }
  }
}
