.showcase {
  min-height: 100vh;
  position: relative;
  color: $color-white;
  overflow: hidden;
  background-image: url(../img/dungeon2.jpeg);

  &::before {
    content: '';
    width: 100%;
    height: calc($index * 10);
    background-image: url(../img/ground.png);
    background-size: cover;
    background-position: center;
    position: absolute;
    bottom: calc($index * -4.5);
    z-index: 10;
    filter: brightness(0.5);
  }
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(../img/light.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center -6.5rem;
    animation: light 3s ease-in-out infinite;
  }
  .showcase__title {
    color: $color-primary;
    font-family: assassin-st, sans-serif;
    font-size: calc($index * 1.8);
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 0 15px $color-secondary;
    letter-spacing: calc($index / 4.5);
    transform: $parallax-effect;
    will-change: transform;
    @include respond(phone) {
      font-size: calc($index * 3);
    }
  }
  .showcase__content--wrapper {
    padding: $padding12;
    height: 100vh;
    position: relative;
    z-index: 2;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      background-image: url(../img/glow.png);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      animation: glow 1.8s ease-in-out infinite;
    }

    //CAROUSEL
    .showcase__content {
      .showcase-carousel {
        .swiper-wrapper {
          transition: $transitionSliderWrapper;
          .showcase-carousel__item.swiper-slide-active {
            opacity: 0.95;
            transform: scale(0.75);
          }

          .showcase-carousel__item {
            height: calc(100vh - 12rem * 2);
            text-align: center;
            position: relative;
            opacity: 0.45;
            transform: scale(0.45);
            transition: opacity 1.8s $transitionSlider,
              transform 1.8s $transitionSlider;
            &::after {
              content: '';
              width: 12rem;
              height: 10rem;
              background-color: $color-black;
              border-radius: 50%;
              box-shadow: 0 0 65px 100px $color-black;
              opacity: 0.6;
              position: absolute;
              bottom: -7rem;
              left: calc(50% - 6rem);
              transform: rotateX(70deg);
            }
            p {
              width: 100%;
              font-size: 5rem;
              font-family: assassin-st, sans-serif;
              position: absolute;
              bottom: 0rem;
              opacity: 0.7;
              text-shadow: rgb(58 78 94) 0 0 10px;
              z-index: 1;
              @include respond(phone) {
                opacity: 1;
              }
            }
            .showcase-carausel__image-wrapper {
              width: 100%;
              height: 100%;
              perspective: 15rem;
              transform-style: preserve-3d;
              position: absolute;
              .showcase-carousel__image-left {
                .showcase-caraousel__image {
                  position: absolute;
                  width: 100%;
                  height: 100%;
                  background-size: contain;
                  background-position: center;
                  background-repeat: no-repeat;
                }

                .image1 {
                  background-image: url(../img/css.svg);
                }
                .image2 {
                  background-image: url(../img/html.svg);
                }
                .image3 {
                  background-image: url(../img/js.svg);
                }
                .image4 {
                  background-image: url(../img/react.svg);
                }
                .image5 {
                  background-image: url(../img/sass.svg);
                }
                .image6 {
                  background-image: url(../img/figma-1-logo-svgrepo-com.svg);
                }
              }
            }
          }
        }
      }
    }
    //navigation
    .showcase-navigation {
      overflow: hidden;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 2;
      & > * {
        position: absolute;
        height: 100%;
        width: 50%;
        outline: none;
        cursor: pointer;
      }
      & > *::before {
        content: '?';
        font-size: 4rem;
        font-family: assassin-st;
        position: absolute;
        left: 5rem;
        top: 50%;
        opacity: 0;
        transform: rotate(-90deg);
        transition: 0.5s ease-out;
      }
      & > *:hover::before {
        opacity: 0.45;
      }

      .showcase-navigation-next {
        right: 0;
        &::before {
          transform: rotate(90deg);
          right: 5rem;
          left: auto;
        }
      }
    }
  }

  .showcase__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.4;
  }
}

//animation

@keyframes light {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.2;
  }
}

@keyframes glow {
  0% {
    opacity: 0.6;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.6;
  }
}
