@mixin respond($breakpoint) {
  //600px
  @if ($breakpoint == phone) {
    @media only screen and (max-width: 37.5em) {
      @content;
    }
  }
  //900px
  @if ($breakpoint == tablet) {
    @media only screen and (max-width: 56.25em) {
      @content;
    }
  }
  //1200px
  @if ($breakpoint == tablet-land) {
    @media only screen and(max-width: 75em) {
      @content;
    }
  }
}

@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

//clip img
@mixin clipImgLeft {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  perspective-origin: left center;
  clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%);
}

@mixin clipImgRight {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  perspective-origin: right center;
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
}
