//For text and margin
$index: calc(1vw + 1vh);

//For blocks
$parallax-effect: translate3d(0, calc(var(--scrollTop) / 20), 0);

//transition
$transition: transform 0.75s cubic-bezier(0.075, 0.5, 0, 1);
$transitionSlider: cubic-bezier(0.4, 0, 0, 1);

//color
$color-primary: #e7e7d3;
$color-secondary: #9e7d35;
$color-orange: #cc8869;
$color-black: #000000;
$color-white: #ffffff;

//paddding
$padding12: 12rem 0;
